<a href="https://colab.research.google.com/github/IziIke/IziIke/blob/main/C%C3%B3pia_de_C%C3%B3pia_de_Estudo_Inicial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PRIMEIROS CÓDIGOS EM PHYTON
":)

In [1]:

Numero = 20
nome = "Luis"
numero = 10
meu_numero = 6

# Apenas documentação

In [2]:
print(Numero)
print(nome)
print(numero)
print(meu_numero)

20
Luis
10
6

In [4]:

if numero <= 5:
   print(numero)
   print(nome)
else:
   print('Não é menor')

   if meu_numero < 5:
      print("linha extra!")
      print("segundo if")
   else:
      print("maior ou igual a 10")
      print("mais uma linha")  

print("Sempre mostra: passei por aqui " + str(meu_numero))
print("Sempre mostra: passei por aqui", meu_numero)

Não é menor
maior ou igual a 10
mais uma linha
Sempre mostra: passei por aqui 6
Sempre mostra: passei por aqui 6

In [5]:

for pos in range(15, 0, -1): 
  print(pos)

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [6]:

for pos in range(5, 0, -1):
  print(pos)

print("Acabou!")

5
4
3
2
1
Acabou!

In [7]:

pos = 5
while pos < 10:
  print(pos)
  pos = pos + 1

print("Acabou!")

5
6
7
8
9
Acabou!

In [ ]:
probs = [1/5] * 5
print(probs)
print( sum(probs) )

[0.2, 0.2, 0.2, 0.2, 0.2]
1.0
0.2

In [ ]:
vet = [1, 2, 3 ]
print(vet)
print(sum(vet))

[1, 2, 3]
6

In [ ]:
probs = [-1] * 4
print(probs)

[-1, -1, -1, -1]

In [ ]:
valor = input("Digite um texto: ")
print(valor)

Digite um texto: 10.55
10.55

In [ ]:
try:
  valor = int(input("Digite um número"))
  print(valor)
except ValueError:
  print('Presta atenção!!!')

Digite um número5555
5555

In [ ]:
opc = 0
while opc <= 10:
  try:
    opc = int(input("Digite um número inteiro: "))
  except ValueError:
    print("Digite apenas números")

print('Fim')

Digite um número inteiro: 2
Digite um número inteiro: 3
Digite um número inteiro: 4
Digite um número inteiro: 555
Fim

In [ ]:
opc = 0
while opc < 11:
  try:
    opc = int(input("Digite um número inteiro: "))
    if opc == 10:
        print("Número {} corresponde ao requisitado!!".format(opc))
        break
    else:
        print("Tente novamente!!")
  except ValueError:
    print("Digite apenas números")

print('Fim11')

Digite um número inteiro: 3
Tente novamente!!
Digite um número inteiro: 4
Tente novamente!!
Digite um número inteiro: 10
Número 10 corresponde ao requisitado!!
Fim11

In [ ]:

first_value = input("Primeiro número:  ")
second_value = input("Segundo número:  ")

print(max(first_value, second_value))

Primeiro número:  5
Segundo número:  6
6

In [ ]:
first_value = int(input("Primeiro número:  "))
second_value = int(input("Segundo número:  "))

if first_value > second_value:
  print(first_value)
else:
  print(second_value)

Primeiro número:  5
Segundo número:  6
6

In [ ]:

qtd_linhas = int(input("Digite a quantidade de linhas: "))
for coluna in range(0, qtd_linhas):
  for asterisco in range(0, coluna+1):
    print("* ", end="")
  print("\r")

Digite a quantidade de linhas: 5
*
* *
* * *
* * * *
* * * * *

In [8]:

def soma_quadrados(a, b = 4):
  return a**2 + b**2

In [ ]:
print( soma_quadrados(2, 3))
print( soma_quadrados(2))